
@{
    ViewData["Title"] = "DeleteEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DeleteEvent</h1>
<p style="color:red">Event Deleted </p>

<a class="col-3 btn btn-info" href="@Url.Action("GetAllEvent", "CalendarEvent")">Get All Events</a>

